// COLORS

$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$tomato: hsl(4, 100%, 67%);
$orange: #d9480f;

// FONT
$default-font-size: 1.6rem;
$font-size-small: 1rem;
