.signup {
  max-width: 55rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 3.6rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  padding: 1rem;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    flex: 0 0 25rem;
    min-height: 35rem;
    padding-left: 2.4rem;

    @include phone {
      display: block;
      padding-left: 0;
      padding: 3.2rem;
    }
  }

  &__features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      font-size: $font-size-small;
      display: flex;
      gap: 1.5rem;
      align-items: center;
      @include phone {
        font-size: 3rem;
        line-height: 1.6;
        display: block;
        margin-bottom: 4.8rem;
      }

      svg {
        @include phone {
          width: 4.4rem;
          height: 4.4rem;
          position: relative;
        }
      }

      span {
        @include phone {
          position: absolute;
          left: 18%;
        }
      }
    }
    @include phone {
      gap: 2.4rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    input {
      width: 100%;
      font-size: 1.2rem;
      padding: 1rem;
      border-radius: 10px;
      border: 1px solid $grey;
      margin-bottom: 1rem;
      outline: none;

      &::placeholder {
        color: $grey;
      }

      &:hover,
      &:active {
        border: 1px solid $charcoal-grey;
        cursor: pointer;
        outline: none;
      }
      @include phone {
        padding: 3rem;
        font-size: 3rem;
        margin-bottom: 3.2rem;
      }
    }

    label {
      display: inline-block;
      font-size: $font-size-small;
      margin-bottom: 1.2rem;
      color: $dark-slate-grey;
      font-weight: 700;

      @include phone {
        font-size: 2rem;
        margin-bottom: 2.4rem;
      }
    }

    .invalid {
      border-color: $tomato;
      color: $tomato;
      background-color: hsla(4, 100%, 67%, 0.145);
    }
  }

  &__image {
    background-image: url('../assets/images/illustration-sign-up-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    min-width: 19rem;

    flex: 0 0 24rem;

    @include phone {
      min-height: 40rem;
      background-image: url('../assets/images/illustration-sign-up-mobile.svg');
      background-size: cover;
      border-radius: 0;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }
  }

  @include phone {
    display: block;
    border-radius: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
  }
}

.email-container {
  position: relative;
}

.error .email-container::before {
  content: 'Valid email required';
  position: absolute;
  top: 0;
  left: 60%;
  font-size: $font-size-small;
  font-weight: 700;
  color: $tomato;
  @include phone {
    font-size: $default-font-size;
    left: 55%;
  }
}
